{% extends 'frontend.html.twig' %}

{% block title %}Doctrine{% endblock %}

{% block body %}
<h1>Productos</h1>
<nav class="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a class="p-2 link-secondary" href="{{path('inicio_doctrine')}}">Doctrine</a></li>
<li class="breadcrumb-item"><a class="p-2 link-secondary" href="{{path('doctrine_productos')}}">Productos</a></li>
<li class="breadcrumb-item"><a class="p-2 link-secondary" href="{{path('doctrine_productos_foto',{'id':datos.id})}}">Productos foto</a></li>

</ol>
</nav>


<h4>{{datos.nombre}}</h4>
{# //---------------------ALERTA DE ERRORES #}
{% if errors  %}
<div class="alert alert-danger alert-dismissible fade show">
    <ul>
    {% for error in errors %}
        <li>{{error.message}}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% for menssage in app.flashes('mensaje')%}
<div class="alert alert-{{app.flashes('css')[0]}} alert-dismissible fade show" role="alert">
  {{menssage}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

</div>
{% endfor %}

{# //---------------formulario #}
<form method="POST" action="{{path('doctrine_productos_foto', {id: datos.id})}}" enctype="multipart/form-data" class="m-3">
{{form_widget(form.foto)}}

    <input type="hidden" name="token" value="{{csrf_token('generico')}}"/>
    <hr/>

    <button class="btn btn-dark">Añadir</button>
</form>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        
        <thead>
            <tr>
                <th>Fotos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for foto in fotos %}
        <tr>
            <td>
                <img src="{{absolute_url(asset('uploads/fotos/'))}}{{foto.foto}}" width="100" height="100"/>
            </td>
            <td>
                <a class="btn btn-dark"> Eliminar foto</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
function buscador(){
    if(document.getElementById('tInpBuscador').value === 0){
        return false;
    }
    document.form_search.submit()
}
</script>
{% endblock %}